/* ///////////////////////////////////////////////////////////
//
// TABLE OF CONTENTS
//
// 1.  Default
// 2.  Navbar
// 3.  Profile page
// 4.  Sign-in page
// 5.  Sign-up page
// 6.  Show Image page
//
/////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////
//////// 1. Default    ///////////////////////////////////////
//////////////////////////////////////////////////////////// */

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

body{
  background-color: #FAFAFA;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  }
  
/* ///////////////////////////////////////////////////////////
//////// 2. Navbar    ///////////////////////////////////////
//////////////////////////////////////////////////////////// */



/* ///////////////////////////////////////////////////////////
//////// 3. Profile Page    /////////////////////////////////
//////////////////////////////////////////////////////////// */


/* ///////////////////////////////////////////////////////////
//////// 4. Sign-in Page    /////////////////////////////////
//////////////////////////////////////////////////////////// */

#login-left-banner{
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #232323; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#google-button{
  background-color: #DD4B39;
  border-color: #DD4B39;
}

/* ///////////////////////////////////////////////////////////
//////// 5. Sign Up Page    ////////////////////////////
//////////////////////////////////////////////////////////// */

#signup-left-banner{
  background-image: url("../images/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #232323; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* ///////////////////////////////////////////////////////////
//////// 6. Edit Profile Page    ////////////////////////////
//////////////////////////////////////////////////////////// */
