{% extends "_base.html" %}
{% block title %}
User Sign-up
{% endblock %}

{% block content %}

{% for error in validation_errors %}
<div class="alert alert-danger fade show alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
  {{error}}
</div>
{% endfor %}

<!-- SIGN UP SECTION -->
<section class="h-100" id="signup-page">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-7 h-100 d-none d-md-block" id="signup-left-banner">
        <div class="mb-auto mt-3">
          <img src="../../../static/images/logo.png" height="40px" alt="">
        </div>
      </div>
      <div class="col-md-5 h-100 d-flex align-items-start flex-column" id="login-right-banner">
        <div class="mb-auto m-5">
            <h1>Sign Up</h1>
            <p class="mb-0">Hello! Let's get started</p>
        </div>
        <form class="mb-auto w-100 p-5" action="{{ url_for('users.create') }}" method="POST">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.first_name (class='form-control border-top-0 border-left-0 border-right-0 bg-transparent',placeholder="First Name")}}
          </div>
          <div class="form-group">
            {{ form.last_name (class='form-control border-top-0 border-left-0 border-right-0 bg-transparent',placeholder="Last Name")}}
          </div>
          <div class="form-group">
            {{ form.email (class='form-control border-top-0 border-left-0 border-right-0 bg-transparent',placeholder="Email")}}
          </div>
          <div class="form-group">
            {{ form.store_name (class='form-control border-top-0 border-left-0 border-right-0 bg-transparent',placeholder="Store Name")}}
          </div>
          <div class="form-group">
            {{ form.password (class='form-control border-top-0 border-left-0 border-right-0 bg-transparent',placeholder="Password")}}
          </div>  
          <div class="d-flex flex-row mt-3 ml-1">
            {{ form.submit (class='btn btn-dark',value="Sign Up")}}
            <a href="{{ url_for('sessions.google_authorize') }}" class="btn btn-primary h-50 ml-1" id="google-button">
              <i class="fab fa-google"></i>
            </a>
          </div>
        </form>
        <div class="mt-auto mx-auto mb-3">
          <small class="text-muted">Already have an account, login 
            <a class="text-muted border-bottom" href="{{url_for('sessions.new')}}">here</a> 
            !
          </small>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /SIGN UP SECTION -->

{% endblock %}